# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Drizzle
# DATABASE_URL="fake-database-url-1234"


# Prod Vercel Postgres DB
DATABASE_URL="fake-database-url-1234"


# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET="fake-secret-1234"
NEXTAUTH_URL="fake-url-1234"

# Next Auth Discord Provider
DISCORD_CLIENT_ID="fake-discord-client-id-1234"
DISCORD_CLIENT_SECRET="fake-discord-client-secret-1234"

GOOGLE_CLIENT_ID="fake-google-client-id-1234"
GOOGLE_CLIENT_SECRET="fake-google-client-secret-1234"
